.register-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 80px;
  background-color: var(--light-gray-color);
}
.register-form-container {
  background-color: var(--white-color);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.register-form-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-color);
}
/* form */
.register-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}
.form-details {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}
.form-details label {
  color: var(--text-color);
  font-weight: 500;
}
.form-details input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.8rem;
  font-size: var(--font-md);
  transition: border-color 0.3s;
}
.form-details input:focus {
  border-color: var(--secondary-color);
  outline: none;
}
.form-details input::placeholder {
  color: lightgray;
}
.register-button {
  border-radius: 4px;
  border: none;
  padding: 0.8rem;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: var(--font-md);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}
.register-button:hover {
  background-color: var(--primary-color);
}

.login-link {
  text-align: center;
  margin-top: 1.5rem;
  color: var(--text-color);
}
.login-link a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
}
.login-link a:hover {
  text-decoration: underline;
}
@media (width <= 768px) {
  .register-container {
    padding: 1rem;
  }
}
@media (width <= 480px) {
  .register-form-container {
    padding: 1.5rem;
  }
  .register-form {
    padding: 1rem;
  }
}
.error-message {
  color: red;
  font-size: var(--font-md);
  

}