* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
  --tertiary-color: #e74c3c;
  --text-color: #333333;
  --white-color: #ffffff;
  --light-gray-color: #f5f5f5;

  --gap-xxs: 0.3rem;
  --gap-xs: 0.5rem;
  --gap-s: 0.8rem;
  --gap-md: 1rem;
  --gap-lg: 1.2rem;
  --gap-xl: 1.5rem;
  --gap-xxl: 2rem;

  --font-xs: 0.5rem;
  --font-s: 0.8rem;
  --font-md: 1rem;
  --font-lg: 1.3rem;
  --font-xl: 1.8rem;
  --font-xxl: 2.4rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-color);
}
.l-main {
  flex: 2 1 auto;
}
/* Nav-bar */
.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1000;
  top: 0;
}

.nav-logo h1 {
  color: var(--white-color);
  font-size: var(--font-xl);
}
.nav-logo h1 a{
  color: var(--white-color);
  text-decoration: none;
 
}

.nav-links {
  display: flex;
  gap: var(--gap-xxl);
}
.nav-links a {
  color: var(--white-color);
  text-decoration: none;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: var(--secondary-color);
}
.greeting {
  display: block;
  gap: var(--gap-s);
}
.greeting span {
  color: var(--white-color);
  font-size: var(--font-s);
}
.greeting a {
  background-color: var(--secondary-color);
  font-size: var(--gap-s);
  padding: 5px 8px;
  border-radius: 4px;
}
.greeting a:hover {
  background-color: #323d49;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--white-color);
  margin: 5px 0;
}

/* carousel-section */
.sec-carousel {
  margin-top: 80px;
  padding: 2rem 0;
}

.carousel-container {
  position: relative;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 8px;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-item {
  display: none;
  aspect-ratio: 16 / 9;
  width: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease;
  transition: transform 0.3s ease;
}
.carousel-item:hover {
  transform: translateY(-5px);
}
.carousel-item.active {
  display: block;
  opacity: 1;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  color: var(--white-color);
  background-color: #000000b3;
}
.carousel-content h2 {
  text-align: center;
  font-size: var(--font-xl);
  margin-bottom: 1rem;
}
.carouselBtn {
  position: absolute;
  top: 50%;
  color: var(--white-color);
  background-color: #00000080;
  padding: 1rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: background0.3s;
}
.carouselBtn:hover {
  background: #000000cc;
}
.carouselBtn.previous {
  left: 0;
}
.carouselBtn.next {
  right: 0;
}

/* Section Blog */
.c-blog {
  background-color: var(--light-gray-color);
  padding: 4rem 2rem;
}
.c-blog h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 2rem;
}
.createPost-btn {
  display: flex;
  justify-content: center;
  gap: var(--gap-xs);
  margin: 0 auto 4rem;
  transition: background-color 0.3s;
}
.c-blog button:hover {
  background-color: var(--primary-color);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--gap-xxl);
  max-width: 1200px;
  margin: 0 auto;
}
.blog-card {
  border-radius: 8px;
  overflow: hidden;
  background: var(--white-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.blog-card:hover {
  transform: translateY(-5px);
}
.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.blog-card-content {
  padding: 1.5rem;
}
.blog-card-content h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.blog-card-content p {
  color: #666;
  margin-bottom: 1rem;
}

.read-more {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: background-color 0.3s;
}
.read-more:hover {
  background-color: var(--primary-color);
}
.c-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.pagination {
  margin-top: 20px;
}
button {
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--white-color);
}
button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.loader {
  display: none;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border: 4px solid var(--secondary-color);
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: loader 0.5s linear infinite;
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.manage-buttons {
  display: flex;
  justify-content: center;
  gap: var(--gap-l);
}

/* footer */
.l-footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 3rem 2rem;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--gap-xxl);
}
.footer-content h3 {
  margin-bottom: 1rem;
}
.footer-content ul {
  list-style: none;
}
.footer-content ul li {
  margin-bottom: 0.5rem;
}
.footer-content a {
  color: var(--white-color);
  text-decoration: none;
  transition: color 0.3s;
}
.footer-content a:hover {
  color: var(--secondary-color);
}
.social-links {
  display: flex;
  gap: var(--gap-xl);
}
.social-links a {
  font-size: var(--font-lg);
}
.bottom {
  text-align: center;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #ffffff1a;
}
/* Media Queries */
@media (width <= 768px) {
  .nav-links {
    visibility: hidden;
    opacity: 0;
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 2rem;
    flex-direction: column;
    gap: var(--gap-md);
  }
  .nav-links.active {
   visibility: visible;
   opacity: 1;
   display: flex;
  }
  .hamburger {
    display: block;
  }

  .carousel-content h2 {
    font-size: var(--font-md);
  }
  .carouselBtn {
    padding: 0.5rem;
    font-size: var(--font-md);
  }
  .c-blog {
    padding: 2rem 1rem;
  }
  .sec-carousel {
    padding: 1rem 0;
  }
  .carousel-content {
    padding: 1rem;
  }
  .nav-logo h1 a{
    font-size: var(--font-lg);
    
  }
  
}
@media (width <= 480px) {
  .carousel-content {
    padding: 0.5rem;
  }
  .carousel-content h2 {
    font-size: var(--font-s);
    margin-bottom: 0.5rem;
  }
  .footer-content {
    text-align: center;
    justify-content: center;
  }
  .footer-content ul {
    padding: 0;
  }
  .social-links {
    justify-content: center;
  }
  .sec-carousel {
    padding: 0;
  }
  .c-blog {
    padding: 1rem 0.5rem;
  }
  .nav-logo h1 {
    font-size: var(--font-md);
  }
}
